<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '0eylebnc5mjasq5cclclquh18' });
    </script>
</head>
<body>
    <h2>Henk</h2>
</body>
</html>
