<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({ appToken: '5vyxec5l3ims0hpyywpqhkodq' });
    </script>
</head>
<body>
    <h2>Henk</h2>
</body>
</html>
